#home-page {
    .new-products {
        margin-bottom: 45px;

        h3 {
            margin: 37px 0 25px;
        }
    }

    .carousel-container {
        max-width: 1126px;
    }

    .showcase-products {
        .product-row {
            margin-bottom: 31px;
        }
    }

    .logos {
        margin-bottom: 42px;

        .logo {
            width: 194px;
            height: 150px;
        }
    }
}