#home-page {
    padding: 0 20px;

    width: 100%;

    .showcase {
        padding      : 0 20px;
        margin-bottom: 37px;

        .container-fluid {
            padding-top: 23.5%;

            span {
                padding-top: 23.5% !important;
            }
        }
    }

    .new-products {
        margin-bottom: 45px;

        h3 {
            margin-bottom: 25px;
        }
    }

    .carousel-container {
        max-width: 1126px;
    }

    .showcase-products {
        overflow: hidden;

        .product-row {
            margin-bottom: 31px;
        }
    }

    .logos {
        margin-bottom: 42px;

        .logo {
            width : 194px;
            height: 150px;
        }
    }

    @include Media($screen-large-phone) {
        padding: 0;

        .showcase {
            margin : 16px 0 19px;
            padding: 0 20px;
        }
    }

    @include Media($screen-small-phone) {
        .showcase {
            margin : 12px 0 19px;
            padding: 0 15px;
        }

        .showcase-products .product-row {
            flex-wrap: wrap;
        }
    }
}