.pointer {
    cursor: pointer;
}

.text-truncate {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.upper-text {
    text-transform: uppercase;
}

.capital-text {
    text-transform: capitalize;
}

////////////////////////////////

.container-fluid {
    margin   : auto;
    max-width: 1400px;
    padding  : 0 20px 0;

    @include Media($screen-large-phone) {
        padding-left : 14px;
        padding-right: 14px;
    }
}

.fb-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
