.pointer {
    cursor: pointer;
}

.text-truncate {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.upper-text {
    text-transform: uppercase;
}

.capital-text {
    text-transform: capitalize;
}

.margin-centre {
    margin-left : auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

.pos-rel {
    position: relative;
}

////////////////////////////////

.container-fluid {
    margin   : auto;
    max-width: 1400px;
    padding  : 0 20px 0;

    @include Media($screen-large-phone) {
        padding-left : 20px;
        padding-right: 20px;
    }

    &--2 {
        margin   : auto;
        max-width: 1400px;
        padding  : 0 140px 0;


        @include Media($screen-tablet) {
            padding-left : 55px;
            padding-right: 55px;
        }

        @include Media($screen-large-phone) {
            padding-left : 24px;
            padding-right: 24px;
        }
    }

    @include Media($screen-small-phone) {
        padding-left : 15px;
        padding-right: 15px;
    }
}

h2 {
    font-weight: 600;
    font-size  : 32px;
    line-height: 48px;
}

h3 {
    font-style : normal;
    font-weight: 600;
    font-size  : 22px;
    line-height: 33px;
}

h4 {
    font-style : normal;
    font-weight: 700;
    font-size  : 18px;
    line-height: 132.5%;
}

.fb-row {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    &--left {
        @extend .fb-row;
        align-items    : flex-start;
        justify-content: left;
    }

    &--right {
        @extend .fb-row;
        align-items    : flex-start;
        justify-content: right;
    }

    &--spacer {
        @extend .fb-row;
        justify-content: space-around;
    }

    &--center {
        @extend .fb-row;
        justify-content: center;

        &--wrap {
            @extend .fb-row--center;
            flex-wrap: wrap;
        }
    }
}

.fb--align-items--center {
    align-items: center;
}

.fb-col {
    display           : flex;
    flex-direction    : column;
    // justify-content: ;
    align-items       : center;
}

.fb {
    &--w {
        flex-wrap: wrap;
    }

    &--jc-c {
        justify-content: center;
    }

    &--jc-saround {
        justify-content: space-around;
    }

    &--jc-sbet {
        justify-content: space-between;
    }

    &--jc-start {
        justify-content: flex-start;
    }

    &--jc-end {
        justify-content: flex-end;
    }

    &--ai-c {
        align-items: center;
    }

    &--ai-start {
        align-items: flex-start;
    }

    &--ai-end {
        align-items: flex-end;
    }

    &--ai-stch {
        align-items: stretch;
    }
}